.home-container-1{
    min-height: 100vh;
    max-width: 1550px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0% auto;
    flex: 1 0 auto;
    padding-left:0px;
}

.home-container-2{
    max-width: 1100px;
    width: calc(100% - 164px);
    border: 1px solid #929795;
    padding: 24px;
    box-sizing: border-box;
    /* display: flex; */
}

.center {
    display: flex;
    justify-content: left;
    flex-direction: column;
    /* padding-left: 15%; */
    margin-left: 16%;
    padding-right: 40%;
    max-width: 1000px;
    width: calc(100% - 164px);
    position: absolute;
    top: 15%;
}

.right{
    padding-top: 10px;
    z-index: -1;
}