<!-- <div class='home-container-1'> -->
<div>

    <app-left-side-bar></app-left-side-bar>
    <!-- <div class='home-container-2'> -->

        <app-navbar></app-navbar>
    <div class="center">
        <h4 style="color: grey;">21 new releases</h4>
        <h2 style="color: rgb(3, 49, 90);">DISCOVER</h2>
        
        <hr>
        <h3 style="color: rgb(3, 49, 90)">Trending Podcasts</h3>
        <h4 style="color: grey;">Browse all the Trending Podcasts</h4>
        <app-podcasts-cards style="width: 92%;"></app-podcasts-cards>
        <br>
        <hr>
        <h3 style="color: rgb(3, 49, 90)">Popular Hosts</h3>
        <h4 style="color: grey;">See the hosts that gather lots of attention.</h4>
        <app-hosts style="width: 92%;"></app-hosts>
        <br>
        <hr>
        <h3 style="color: rgb(3, 49, 90)">Latest Podcasts</h3>
        <h4 style="color: grey;">View the newly released podcasts</h4>
    </div>
    <div class="right">
        <app-right-side-bar></app-right-side-bar>
    </div>
</div>