.left-sidebar {
  /* width: 270px; */
  position: sticky;
  width:210px;
  height: 1600px;
  box-shadow: 1px 1px 0 rgba(9, 8, 8, 0.2);
  transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
  transform: translateZ(0);
  box-sizing: border-box;
  font-size: 11px;
  background-color: rgb(225, 225, 225);
}

.side-nav {
  position: sticky;
  height: auto;
  /* max-width: 100%; */
  width: 210px;
  position: sticky;
  margin: 50px 0px;
  padding: 5px 0px;
  padding-left: 0px;
  /* width: 164px; */
}

.side-nav-div {
  display: flex;
  flex-direction: column;
}

.side-nav-div div {
  padding-left: 10px;
}

.side-nav-links {
  text-decoration: none;
  color: #3a3a3a;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  transition: 0.2s;
}

.side-nav-links:hover {
  color: rgb(3, 49, 90) !important;
  font-weight: 680 !important;
  background-color: rgb(253, 252, 252)!important;
  border-right: solid 3px #36efef !important;
}

.active-link {
  font-weight: bolder;
  color: rgb(3, 49, 90);
  background-color: rgb(253, 252, 252);
  border-right: solid 3px #36efef;
}

.side-nav mat-icon {
  padding-left: 5px;
  padding-right: 15px;
}

.side-nav mat-icon:hover {
  padding-left: 5px;
  padding-right: 15px;
  color: #36efef !important;
}
