<!-- <img src="/assets/PODLogo.png" alt="image" style="height: 10%;position: absolute; left: 0px; top: 0px;"> -->
<div class="left-sidebar">
    <img src="/assets/PODLogo.png" alt="image" style="width: 210px; left: 0px; top: 0px;">
    <nav class='side-nav'>
        <div class='side-nav-div'>
            <p style="padding-left: 20px;">MENU</p>
            <br>
            <a routerLink="/discover_podcasts" class='side-nav-links' routerLinkActive="active-link">
                <mat-icon activeclass="active">dashboard_border</mat-icon>
                Discover Podcasts
            </a>
            <br>
            <a routerLink="/korna_speakers" class='side-nav-links' routerLinkActive="active-link">
                <mat-icon>mic_border</mat-icon>
                Korna Speakers
            </a>
            <br>
            <a routerLink="/albums" class='side-nav-links' routerLinkActive="active-link">
                <mat-icon>radio_border</mat-icon>
                Albums
            </a>
            <br>
            <a routerLink="/browse" class='side-nav-links' routerLinkActive="active-link">
                <mat-icon>favorite_border</mat-icon>
                Browse podcasts
            </a>
            <br>
            <a routerLink="/themes" class='side-nav-links' routerLinkActive="active-link">
                <mat-icon>mode</mat-icon>
                Themes
            </a>
            <br>
            <a routerLink="/your_playlist" class='side-nav-links' routerLinkActive="active-link">
                <mat-icon>work_outline</mat-icon>
                Your Playlist
            </a>
            <br>
            <a routerLink="/library" class='side-nav-links' routerLinkActive="active-link">
                <mat-icon>bookmark_border</mat-icon>
                <!-- <mat-icon>bookmark_border</mat-icon> -->
                Library
            </a>
        </div>
    </nav>
</div>
