<div class="main-nav">
    <!-- <img src="/assets/PODLogo.png" alt="image" style="width: 270px; left: 0px; top: 0px;"> -->
    <div class="navbar">
        <!-- <img src="/assets/PODLogo.png" alt="image" style="width: 270px; left: 0px; top: 0px;"> -->
        <h4>New Release</h4>
        <h4>News Feed</h4>
        <h4>Shuffle Play</h4>
        <div class="search">
            <form action="submit">
                <input type="text" placeholder="Search"
                    style="height: 15px; padding-top: 10px; border-radius: 5px; border-color: rgb(222, 220, 220);">
            </form>
        </div>
        <!-- <mat-icon>notifications-active-border</mat-icon>
        <h4 style="color: rgb(3, 49, 90);">Your Tech Bro </h4> -->
    </div>
</div>